<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>GRC Diner</title>
        <include href="views/common/htmlHead.html" />
        <link rel="stylesheet" href="styles/main.css" />
    </head>

    <body>
        <include href="views/common/nav.html" />

        <main>
            <section id="home-intro">
                <img src="images/diner.jpg" alt="Image of the diner" />

                <div class="wrapper">
                    <h1>Home of the delicious goodness!</h1>
                    <h2>
                        Welcome to GRC Diner, where every bit of our food
                        whisper of secrets of flavor and delight behold, the
                        home of the delicious goodness awaits to embrace your
                        senses and ignite your palate with its irresistible
                        delicious goodness.
                    </h2>
                    <a class="btn" href="menu">View Our Menu</a>
                    <h2>We have an internship position for Software Development!</h2>
                    <a class="btn" href="internship">Learn More</a>
                </div>
            </section>
        </main>
    </body>
</html>
