<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Internship</title>
        <include href="views/common/htmlHead.html" />
        <link rel="stylesheet" href="styles/internship.css">
    </head>

    <body>
        <!-- Nav Bar -->
        <include href="views/common/nav.html" />

        <form action="#" method="post">
            <section class="job-post">
                <aside>
                    <h2>About the Internship</h2>
                    <p>
                        We are searching for a motivated student software
                        developer for an IOS and Android development internship.
                    </p>
                    <h2>More About Us</h2>
                    <p>
                        The products we build have a positive impact on people's
                        lives and the world around us. If you are just starting
                        your journey in software development, or if you are a
                        seasoned pro, we have a place for you here. Our apps are
                        used all around the world, so you will have an
                        opportunity here to learn and grow in an environment
                        where millions of people every day interact with our
                        technology.
                    </p>
                    <p>
                        Our top paid CEOs don't rake in the cash at your
                        expense, and our shareholders only get a dividend. This
                        enables us to pay our employees with the best wages and
                        benefits imaginable. We don't offer merely "competitive"
                        wages, we pay each employee the largest cut of the
                        product of their labor. Also, unlike our competitors, we
                        don't manipulate our users or sell their data to stay in
                        business. Truly a cutting edge company, you will love
                        working here!
                    </p>

                    <h2>Meet Our Team</h2>
                    <blockquote>
                        <div>
                            <q>
                                Come work for a company where all of our teams
                                enjoy the autonomy to do their own decision
                                making.
                            </q>
                            <span>- Sara, CEO</span>
                        </div>

                        <div>
                            <q>
                                This company is unique, we all own the efforts
                                of our labor, upper management exist only to
                                facilitate our success.
                            </q>
                            <span>- Marshall, President</span>
                        </div>

                        <div>
                            <q>
                                Everyone makes a difference here, we are
                                constantly improving and evolving.
                            </q>
                            <span>- Helin, Senior Developer</span>
                        </div>
                    </blockquote>

                    <div class="btn-container-center">
                        <a class="btn" href="internshipForm">Apply Now</a>
                    </div>
                </aside>

                <img src="images/chairs.png" alt="Chairs" />
            </section>
        </form>
    </body>
</html>